.*
allure-results
config
docs
infra
k8s
load-tests
scripts
target
!target/*.jar
tmp
*.py
*.md
docker-compose.yml
Dockerfile*
Containerfile*
*.sh
!entrypoint.sh
*.txt
Makefile
*.iml
sonar-project.properties
