APP_PORT=8080
APP_CONTEXT_PATH=/
DEBUG=false
APP_SEEDING_ENABLED=


DB_URL=jdbc:postgresql://localhost:5432/mecanica
DB_USER=mecanica_user
DB_PASSWORD=mecanica_pass

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=no-reply@mecanica.com.br
MAIL_FAIL_ON_ERROR=false
ADMIN_EMAIL_COPY=no-reply@mecanica.com.br
ACTION_TOKEN_SECRET=0Yvtb2EXkwmzs6xCSaVt3adG93Xm0T3zHtXX
ACTION_TOKEN_EXPIRY_MINUTES=1440
ADMIN_EMAIL=admin@mecanica.com.br

INTEGRATION_API_KEY=hkarlLPeThCKc860sKMV-TSmAKICRBirJ0UR

ESTOQUE_ALERT_CRON=0 0 * * * *

ORCAMENTO_TAXA_IMPOSTOS=0.05

SECURITY_JWT_SECRET_KEY=batata


# OpenTelemetry App Configuration (Points to Collector)
NEW_RELIC_LICENSE_KEY=
OTEL_LOG_LEVEL=DEBUG
OTEL_METRIC_EXPORT_INTERVAL=5000
OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp.nr-data.net:4317
