<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Define log patterns -->
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- Application specific configuration -->
    <logger name="com.fiap.mecanica.application" level="INFO"/>
    <logger name="com.fiap.mecanica.domain" level="WARN"/> <!-- Domain should be quiet unless error -->
    <logger name="com.fiap.mecanica.infra" level="WARN"/>
    <logger name="com.fiap.mecanica.presentation" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
